<h2><?php echo __('Banners'); ?></h2>

<div class="row">
	<button class="btn-link">
        <b class=" glyphicon glyphicon-plus">
        	<?php echo $this->Html->link(__('New Banner'), array('action' => 'add')); ?></li>
	</b>
        </button>
</div>

<div class="row">
	
	
        <div class="row">
            <div class="panel">
            <table class="table">
                <thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('title'); ?></th>
			<th><?php echo $this->Paginator->sort('banner'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
        </thead>
			<tbody>
	
	<?php foreach ($banners as $banner): ?>
	<tr>
		<td><?php echo h($banner['Banner']['id']); ?>&nbsp;</td>
		<td><?php echo h($banner['Banner']['title']); ?>&nbsp;</td>
		<td><?php echo h($banner['Banner']['banner']); ?>&nbsp;</td>
		<td><?php echo h($banner['Banner']['created']); ?>&nbsp;</td>
		<td><?php echo h($banner['Banner']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $banner['Banner']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $banner['Banner']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $banner['Banner']['id']), array('confirm'=> __('Are you sure you want to delete # %s?', $banner['Banner']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
                        </tbody>
	</table>
        <hr>
    <div class="clearfix">
        <p>
        <?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
    </div>
          </p>
    </div>
        <ul class="pagination pull-right">
        <li><?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
        </li>
	</div>
</div>
