<div class="banners view">
    <dl>
        <dd>
            <?php echo $this->Html->image('/img/banner/' . $banner['Banner']['id'] . '/big_' . $banner['Banner']['banner']); ?>

            &nbsp;
        </dd>
    </dl>
</div>