<style type="text/css">
    /* FONT AWESOME & not necessary for functions */
    @import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

    body {
        padding-top: 15px;
        background-color: #f9f9f9;
    }

    /*REQUIRED*/
    .carousel-row {
        margin-bottom: 10px;
    }

    .slide-row {
        padding: 0;
        background-color: #ffffff;
        min-height:80px;
        border: 1px solid #e7e7e7;
        overflow: hidden;
        height: auto;
        position: relative;
    }


    .slide-carousel {
        width: 20%;
        float: left;
        display: inline-block;
    }

    .slide-carousel .carousel-indicators {
        margin-bottom: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
    }

    .slide-carousel .carousel-indicators li {
        border-radius: 0;
        width: 20px;
        height: 6px;
    }

    .slide-carousel .carousel-indicators .active {
        margin: 1px;
    }

    .slide-content {
        position: absolute;
        top: 0;
        left: 20%;
        display: block;
        float: left;
        width: 80%;
        max-height: 76%;
        padding: 1.5% 2% 2% 2%;
        overflow-y: auto;
    }

    .slide-content h4 {
        margin-bottom: 3px;
        margin-top: 0;
    }

    .slide-footer {
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 78%;
        height: 20%;
        margin: 1%;
    }

    /* Scrollbars */
    .slide-content::-webkit-scrollbar {
        width: 5px;
    }

    .slide-content::-webkit-scrollbar-thumb:vertical {
        margin: 5px;
        background-color: #999;
        -webkit-border-radius: 5px;
    }

    .slide-content::-webkit-scrollbar-button:start:decrement,
    .slide-content::-webkit-scrollbar-button:end:increment {
        height: 5px;
        display: block;
    }
</style>

<div>
    <?php $category = $this->requestAction('categories/geral/sort:category/direction:desc/limit:3'); ?>

    <?php
    foreach ($category as $cat) :
        ?>

        <div class="title">

            <h3><?php echo '<b>.\</b> ' . $cat['Category']['category']; ?></h3>
            <hr>
            <?php
            foreach ($cat['News'] as $new) :
                ?>
                <div class="row carousel-row">
                    <div class="col-xs-12 slide-row">
                        <div id="carousel-1" class="carousel slide slide-carousel" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <?php
                                    echo $this->Html->image('/img/archive/' . $new['id'] . '/' . $new['archive'], array('alt' => $new['archive']));
                                    ?>
                                </div>
                            </div>
                        </div>

                        <div class="slide-content">
                            <h4><?php echo $new['title']; ?></h4>
                            <p><?php echo $new['subtitle']; ?></p>
                        </div>
                        <!--
                        <div class="slide-footer">
                            <span class="pull-right buttons">
                                <button class="btn btn-sm btn-default">
                                    <i class="fa fa-fw fa-eye"></i>
                        <?php
                        //  echo $this->Html->link(__('Ver Mais'), array('controller' => 'news', 'action' => 'visualizar', $new['News']['id']));
                        ?>
                                </button>
                            </span>
                        </div>
                        -->
                    </div>
                </div>
                <?php
            endforeach;
            ?>
        </div>
        <?php
    endforeach;
    ?>
</div>