<div class="form-group">
<?php 

if(isset($news)):
    //var_dump($news);?>
    <?php foreach ($news as $news): ?>
    <h2><?php echo $this->Html->link($news['News']['title'], array('controller' => 'news', 'action' => 'visualizar', $news['News']['id'])); ?></h2>
    <p><?php echo $this->Html->link($news['News']['subtitle'], array('controller' => 'news', 'action' => 'visualizar', $news['News']['id'])); ?></p>
                     
                <?php endforeach; ?>
            </tbody>
<?php endif;
?>
</div>