<style>

    .form-group, input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block{
        width:90.2% !important;
        float: none !important;
        margin: 0 auto !important;
        padding-top: 2% !important;
    }
    article{width:100% !important;
            
    }
    .panel{margin: 0 auto !important;
           margin-top: 15% !important;
           width:40% !important;

    }

</style>

<div class="panel panel-default text-center">
    <div class="panel-heading">Recovery Password</div>
    <?php echo $this->Form->create('User', array('action' => 'recoveryPassword', 'class' => '')); ?>

    <div class="form-group">
        <?php echo $this->Form->input('email', array('label' => false, 'class' => 'login form-control', 'placeholder' => 'email')); ?>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">            
        <?php //echo $this->Form->end('Log in', array('type'=>'submit','id'=>'btn-login','class' => 'btn btn-lg btn-success btn-block')); ?>
        <input type="submit" id="btn-login" class="btn btn-lg btn-success btn-block " value="Enviar">
    </div>
    <hr>
    
</div>
